{% extends "_base.html" %}
{% block title %}Grades{% endblock %}
{% block body %}
{% raw %}
<div ng-controller='IndexCtrl'>
  <div class='row'>
    <div class='col-md-4 block block-md' ng-class="auth ? 'green' : 'red'">
        <div class="form-group">
          <label for="kerberos"><p>Kerberos</p></label>
          <input type="text" class="form-control" id="kerberos" placeholder="ben.bitdiddle" ng-model='data.kerberos'>
        </div>
        <div class="form-group">
          <label for="kerberos"><p>Password</p></label>
          <input type="password" class="form-control" placeholder="*****" ng-model='data.password'>
        </div>
    </div>
    <div class='col-md-8 block block-md text-center' ng-class="auth ? 'yellow' : 'purple'">
     <h1 ng-if='!auth'>Login To Begin</h1>
     <h2 ng-if='auth'>{{user.name}}'s Grades</h2>
    </div>
  </div>
  <div ng-repeat='(class, grade_data) in grades' class='fade-in'>
    <div class='row'>
      <div class='col-md-10 block block-sm purple'>
        <h1>{{class}}</h1>
      </div>
      <div class='col-md-2 block block-sm text-center' ng-class="grade_data.total > good_bound ? 'green' : 'red'">
        <h1>{{grade_data.letter}}</h1>
      </div>
    </div>
    <div class='row' ng-repeat="category in grade_data.sums | filter:remove_blank_categories">
      <div class='col-md-10 block block-sm yellow'>
        <h1>
          {{category.name}}
          <span ng-if="category.weight">({{category.weight*100 | number:0}}%)</span>
        </h1>
      </div>
      <div class='col-md-2 block block-sm text-center' ng-class="category.avg > good_bound ? 'green' : 'red'">
        <h1>{{category.avg*100 | number:0}}</h1>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}
