{% extends "_base.html" %}
{% block title %}Grades{% endblock %}
{% block body %}
{% raw %}
<div ng-controller='IndexCtrl'>
  <div class='row'>
    <div class='col-md-4 block block-md' ng-class="auth ? 'green' : 'red'">
        <div class="form-group">
          <label for="kerberos"><p>Kerberos</p></label>
          <input type="text" class="form-control" id="kerberos" placeholder="ben.bitdiddle" ng-model='data.kerberos'>
        </div>
        <div class="form-group">
          <label for="kerberos"><p>Password</p></label>
          <input type="password" class="form-control" placeholder="*****" ng-model='data.password'>
        </div>
    </div>
    <div class='col-md-8 block block-md text-center' ng-class="auth ? 'yellow' : 'purple'">
      <h1 ng-if='!auth'>MIT Grades</h1>
      <h2 ng-if='auth'>{{user.name}}'s Grades</h2>
      <p ng-if="status">{{status}}...</p>
    </div>
  </div>
  <div ng-repeat='(class, grade_data) in grades' class='fade-in'>
    <div class='row'>
      <div class='col-md-10 block block-sm purple'>
        <h1>{{class}}</h1>
      </div>
      <div class='col-md-2 block block-sm text-center'
          ng-class="grade_data.total > grade_data.good_bound ? 'green' : 'red'">
        <h1>{{grade_data.letter}}</h1>
      </div>
    </div>
    <div ng-repeat="category in grade_data.sums | filter:remove_blank_categories">
      <div class='row'>
        <div class='col-md-10 block block-sm yellow' ng-click='select_category(category)'>
          <h1>
            {{category.name}}
            <span ng-if="category.weight">({{category.weight*100 | number:0}}%)</span>
          </h1>
        </div>
        <div class='col-md-2 block block-sm text-center'
            ng-class="category.avg > grade_data.good_bound ? 'green' : 'red'"
            ng-click="toggle_detail()">
          <h1 title="{{category.avg*100 | number:2}}">{{category.avg*100 | number:detail}}</h1>
        </div>
      </div>
      <div class='row fade-in' ng-repeat="assignment in category.assignments" ng-if="selected == category">
        <div class='col-md-10 block block-xs' ng-class="assignment.dropped ? 'grey dropped' : 'blue'">
          <h3>
            {{assignment.name}}
          </h3>
        </div>
        <div class='col-md-2 block block-xs text-center'
            ng-class="get_assignment_grade_class(assignment, grade_data)"
            ng-click="toggle_detail()">
          <h3 title="{{category.avg*100 | number:2}}">{{assignment.grade*100 | number:detail}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}
